//- List of shots
-
	var shots = [
		// 01
		{
			"img" 			: 	"img/shot-01.png",
			"captionTitle"	: 	"Caption Title",
			"captionInfo"	: 	"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores accusantium, hic magnam amet, dolorum atque deleniti blanditiis iure porro ipsa quos cum!",
			"timeStamp" 	: 	"24 Mar 2018",
			"favs"			: 	"1670",
			"cmnt"			: 	"76",
			"views"			: 	"100,839",
			"name"			: 	"Adithya Jayan",
			"avatar"		: 	"img/users/user-01.jpg",
			"badge"			: 	"team",
			
			"rebound"		: 	"",
			"attach"		: 	" ",
			"gif"			: 	""
		},

		// 02
		{
			"img" 			: 	"img/shot-02.png",
			"captionTitle"	: 	"Caption Title",
			"captionInfo"	: 	"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores accusantium, hic magnam amet, dolorum atque deleniti blanditiis iure porro ipsa quos cum!",
			"timeStamp" 	: 	"24 Mar 2018",
			"favs"			: 	"1670",
			"cmnt"			: 	"76",
			"views"			: 	"100,839",
			"name"			: 	"Adithya Jayan",
			"avatar"		: 	"img/users/user-01.jpg",
			"badge"			: 	"team",
			
			"rebound"		: 	"14",
			"attach"		: 	"",
			"gif"			: 	""
		},

		//03
		{
			"img" 			: 	"img/shot-03.jpg",
			"captionTitle"	: 	"Caption Title",
			"captionInfo"	: 	"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores accusantium, hic magnam amet, dolorum atque deleniti blanditiis iure porro ipsa quos cum!",
			"timeStamp" 	: 	"24 Mar 2018",
			"favs"			: 	"1670",
			"cmnt"			: 	"76",
			"views"			: 	"100,839",
			"name"			: 	"Adithya Jayan",
			"avatar"		: 	"img/users/user-01.jpg",
			"badge"			: 	"team",
			
			"rebound"		: 	"55",
			"attach"		: 	" ",
			"gif"			: 	" "
		},

		// 04
		{
			"img" 			: 	"img/shot-04.png",
			"captionTitle"	: 	"Caption Title",
			"captionInfo"	: 	"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores accusantium, hic magnam amet, dolorum atque deleniti blanditiis iure porro ipsa quos cum!",
			"timeStamp" 	: 	"24 Mar 2018",
			"favs"			: 	"1670",
			"cmnt"			: 	"76",
			"views"			: 	"100,839",
			"name"			: 	"Adithya Jayan",
			"avatar"		: 	"img/users/user-01.jpg",
			"badge"			: 	"team",
			
			"rebound"		: 	"713",
			"attach"		: 	"",
			"gif"			: 	""
		},

		// 05
		{
			"img" 			: 	"img/shot-05.png",
			"captionTitle"	: 	"Caption Title",
			"captionInfo"	: 	"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores accusantium, hic magnam amet, dolorum atque deleniti blanditiis iure porro ipsa quos cum!",
			"timeStamp" 	: 	"24 Mar 2018",
			"favs"			: 	"1670",
			"cmnt"			: 	"76",
			"views"			: 	"100,839",
			"name"			: 	"Adithya Jayan",
			"avatar"		: 	"img/users/user-01.jpg",
			"badge"			: 	"team",
			
			"rebound"		: 	"",
			"attach"		: 	"",
			"gif"			: 	""
		},

		// 06
		{
			"img" 			: 	"img/shot-06.png",
			"captionTitle"	: 	"Caption Title",
			"captionInfo"	: 	"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores accusantium, hic magnam amet, dolorum atque deleniti blanditiis iure porro ipsa quos cum!",
			"timeStamp" 	: 	"24 Mar 2018",
			"favs"			: 	"1670",
			"cmnt"			: 	"76",
			"views"			: 	"100,839",
			"name"			: 	"Adithya Jayan",
			"avatar"		: 	"img/users/user-01.jpg",
			"badge"			: 	"team",
			
			"rebound"		: 	"25",
			"attach"		: 	" ",
			"gif"			: 	""
		},

		// 07
		{
			"img" 			: 	"img/shot-07.gif",
			"captionTitle"	: 	"Caption Title",
			"captionInfo"	: 	"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores accusantium, hic magnam amet, dolorum atque deleniti blanditiis iure porro ipsa quos cum!",
			"timeStamp" 	: 	"24 Mar 2018",
			"favs"			: 	"1670",
			"cmnt"			: 	"76",
			"views"			: 	"100,839",
			"name"			: 	"Adithya Jayan",
			"avatar"		: 	"img/users/user-01.jpg",
			"badge"			: 	"team",
			
			"rebound"		: 	"63",
			"attach"		: 	"",
			"gif"			: 	" "
		},

		//08
		{
			"img" 			: 	"img/shot-08.png",
			"captionTitle"	: 	"Caption Title",
			"captionInfo"	: 	"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores accusantium, hic magnam amet, dolorum atque deleniti blanditiis iure porro ipsa quos cum!",
			"timeStamp" 	: 	"24 Mar 2018",
			"favs"			: 	"1670",
			"cmnt"			: 	"76",
			"views"			: 	"100,839",
			"name"			: 	"Adithya Jayan",
			"avatar"		: 	"img/users/user-01.jpg",
			"badge"			: 	"team",
			
			"rebound"		: 	"3",
			"attach"		: 	" ",
			"gif"			: 	""
		},

		// 09
		{
			"img" 			: 	"img/shot-09.png",
			"captionTitle"	: 	"Caption Title",
			"captionInfo"	: 	"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores accusantium, hic magnam amet, dolorum atque deleniti blanditiis iure porro ipsa quos cum!",
			"timeStamp" 	: 	"24 Mar 2018",
			"favs"			: 	"1670",
			"cmnt"			: 	"76",
			"views"			: 	"100,839",
			"name"			: 	"Adithya Jayan",
			"avatar"		: 	"img/users/user-01.jpg",
			"badge"			: 	"team",
			
			"rebound"		: 	"364",
			"attach"		: 	" ",
			"gif"			: 	""
		},

		// 10
		{
			"img" 			: 	"img/shot-10.png",
			"captionTitle"	: 	"Caption Title",
			"captionInfo"	: 	"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores accusantium, hic magnam amet, dolorum atque deleniti blanditiis iure porro ipsa quos cum!",
			"timeStamp" 	: 	"24 Mar 2018",
			"favs"			: 	"1670",
			"cmnt"			: 	"76",
			"views"			: 	"100,839",
			"name"			: 	"Adithya Jayan",
			"avatar"		: 	"img/users/user-01.jpg",
			"badge"			: 	"team",
			
			"rebound"		: 	"3",
			"attach"		: 	"",
			"gif"			: 	""
		},

		// 11
		{
			"img" 			: 	"img/shot-11.png",
			"captionTitle"	: 	"Caption Title",
			"captionInfo"	: 	"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores accusantium, hic magnam amet, dolorum atque deleniti blanditiis iure porro ipsa quos cum!",
			"timeStamp" 	: 	"24 Mar 2018",
			"favs"			: 	"1670",
			"cmnt"			: 	"76",
			"views"			: 	"100,839",
			"name"			: 	"Adithya Jayan",
			"avatar"		: 	"img/users/user-01.jpg",
			"badge"			: 	"team",
			
			"rebound"		: 	"4",
			"attach"		: 	" ",
			"gif"			: 	""
		},

		// 12
		{
			"img" 			: 	"img/shot-12.png",
			"captionTitle"	: 	"Caption Title",
			"captionInfo"	: 	"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores accusantium, hic magnam amet, dolorum atque deleniti blanditiis iure porro ipsa quos cum!",
			"timeStamp" 	: 	"24 Mar 2018",
			"favs"			: 	"1670",
			"cmnt"			: 	"76",
			"views"			: 	"100,839",
			"name"			: 	"Adithya Jayan",
			"avatar"		: 	"img/users/user-01.jpg",
			"badge"			: 	"team",
			
			"rebound"		: 	"89",
			"attach"		: 	"",
			"gif"			: 	" "
		},

		// 13
		{
			"img" 			: 	"img/shot-13.png",
			"captionTitle"	: 	"Caption Title",
			"captionInfo"	: 	"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores accusantium, hic magnam amet, dolorum atque deleniti blanditiis iure porro ipsa quos cum!",
			"timeStamp" 	: 	"24 Mar 2018",
			"favs"			: 	"1670",
			"cmnt"			: 	"76",
			"views"			: 	"100,839",
			"name"			: 	"Adithya Jayan",
			"avatar"		: 	"img/users/user-01.jpg",
			"badge"			: 	"team",
			
			"rebound"		: 	"3",
			"attach"		: 	"",
			"gif"			: 	""
		},

		// 14
		{
			"img" 			: 	"img/shot-14.png",
			"captionTitle"	: 	"Caption Title",
			"captionInfo"	: 	"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores accusantium, hic magnam amet, dolorum atque deleniti blanditiis iure porro ipsa quos cum!",
			"timeStamp" 	: 	"24 Mar 2018",
			"favs"			: 	"1670",
			"cmnt"			: 	"76",
			"views"			: 	"100,839",
			"name"			: 	"Adithya Jayan",
			"avatar"		: 	"img/users/user-01.jpg",
			"badge"			: 	"team",
			
			"rebound"		: 	"81",
			"attach"		: 	"",
			"gif"			: 	""
		},

		// 15
		{
			"img" 			: 	"img/shot-15.png",
			"captionTitle"	: 	"Caption Title",
			"captionInfo"	: 	"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores accusantium, hic magnam amet, dolorum atque deleniti blanditiis iure porro ipsa quos cum!",
			"timeStamp" 	: 	"24 Mar 2018",
			"favs"			: 	"1670",
			"cmnt"			: 	"76",
			"views"			: 	"100,839",
			"name"			: 	"Adithya Jayan",
			"avatar"		: 	"img/users/user-01.jpg",
			"badge"			: 	"team",
			
			"rebound"		: 	"48",
			"attach"		: 	" ",
			"gif"			: 	""
		}


	]


ul.dribbbles
	each shot in shots
		li.dribbble
			.shot
				a(href="#").shot__img
					img(src=shot.img, alt="shot image")
					.shot__caption
						h3.shot__caption-title= shot.captionTitle
						p.shot__caption-info= shot.captionInfo
						strong.shot__timestamp= shot.timeStamp
				ul.shot-meta
					li.shot-meta__fav
						a(href="#")= shot.favs
					li.shot-meta__cmnt= shot.cmnt
					li.shot-meta__views= shot.views
				.shot-extra
					if shot.attach
						span.shot-extra__attach
					if shot.rebound
						a(href="#").shot-extra__rebound= shot.rebound
				if shot.gif
					a(href="#").gif-target
					span.gif-indicator gif

			.shot-attribution
				a(href="#").profile-name
					img(src=shot.avatar, alt="")
					=shot.name
				a(href="#").profile-badge= shot.badge
